AddType application/javascript .js
AddType text/html .html

<IfModule mod_headers.c>
  <FilesMatch "\.(js|html|css)$">
    Header set Cache-Control "public, max-age=3600"
  </FilesMatch>
</IfModule>

DirectoryIndex index.html
